apirest/logs/*
!apirest/logs/.gitkeep

backups/*
!backups/.gitkeep
assets/images/*

apirest/config/database.php
assets/agente_compra/
assets/uploads/
assets/cargaconsolidada
assets/downloads/*