apirest/logs/*
!apirest/logs/.gitkeep

backups/*
!backups/.gitkeep
assets/images/*
assets/img/*
apirest/config/database.php
assets/agente_compra/
assets/uploads/
assets/*
assets/downloads/*