.width_full {
  width: 100% !important;
}

.dropzone .dz-preview .dz-image {
  width: 120px;
  height: 120px;
}

.dropzone .dz-preview .dz-image img {
  display: block;
  height: 120px;
}

/* Autocomplete */
.autocomplete-suggestions {
  text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  /* core styles should not be changed */
  position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}

.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

/* CARGANDO PAGINA */
.modal-dialog-loader {
  max-width: 500px !important;
  margin: 14rem auto !important;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px transparent;
}

.modal-header-change {
  border-bottom: 1px solid transparent;
}

.modal-content-loader-change {
  background-color: transparent;
  box-shadow: 0 3px 9px transparent;
}
/* FIN CARGANDO PAGINA */

.conte_img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: relative;
  z-index: 0;
}

.conte_img img {
  max-width: 100%;
  width: auto !important;
  margin: auto;
  cursor: pointer;
  /*border-radius: 12px;*/
}

.img-card-interno {
  width: 100%;
  height: 150px;
}

.tableFixHead          { overflow: auto; height: 700px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

.img-resize {
  height: 170px;
  object-fit: cover;
  object-position: bottom;
  cursor: pointer;
}

.font-medium {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .font-medium {
    font-size: 1rem;
  }
}

/* md */
@media (min-width: 768px) {
  .font-medium {
    font-size: 1.3rem;
  }
}

/* lg */
@media (min-width: 992px) {
  .font-medium {
    font-size: 1.3rem;
  }
}

/* xl */
@media (min-width: 1200px) {
  .font-medium {
    font-size: 1.3rem;
  }
}